<section class="container login">

	<h2>Iniciar Sesión</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.label "Correo electrónico" %><br />
			<%= f.email_field :email, autofocus: true, :placeholder => 'Correo electrónico', :class => "input-text" %>
		</div>
		<br>
		<div class="field">
			<%= f.label :Contraseña %><br />
			<%= f.password_field :password, autocomplete: "off", :placeholder => 'Contraseña', :class => "input-text" %>
		</div>
		<br>
		<% if devise_mapping.rememberable? -%>
			<div class="field">
				<%= f.check_box :remember_me %>
				<%= f.label "Recordarme" %>
			</div>
			<br>
		<% end -%>
		<div class="actions">
		<%= f.submit "Entrar", :class => "btn btn-default" %>
		</div>
	<% end %>
	<br>
	<%= render "users/shared/links" %>
</section>