<% path = request.fullpath.split('/') %>
<% path2 = [root_path.split("/"), blog_path.split('/'), contact_path.split('/')] %>

<header class="row">
	<nav class="navbar">
		<div class="flex menu outer-shadow">
			<a href="<%= root_path %>" class="flex-col brand">conected</a>
			<a href="<%= root_path %>" class="flex-col <% if path[1] == path2[0][0] %><%= "active" %><% end %>">inicio</a>
			<a href="<%= blog_path %>" class="flex-col <% if path[1] == path2[1][1] %><%= "active" %><% end %>">blog</a>
			<a href="" class="flex-col">cursos</a>

			<% if current_user %>
				<a href="<%= edit_user_registration_path %>" class="flex-col" style="display: flex; align-items: center;"><%= image_tag(current_user.avatar.url(:thumb), :style => "max-width:50px;border-radius: 50%;") %>
					<% if current_user.username %>
					<span style="padding: 0 5px;"><%= current_user.username %></span></%>
					<% elsif current_user.fullname %>
						<span style="padding: 0 5px;"><%= current_user.fullname %></span>
					<% else %>
						<span style="padding: 0 5px;">Editar Perfil</span>
					<% end %>
				</a>
				<a href="<%= destroy_user_session_path %>" class="flex-col">Salir</a>
			<% else %>
				<a href="<%= new_user_session_path %>" class="flex-col">Entrar</a>
			<% end %>
		</div>
	</nav>
</header>