<% path = request.fullpath.split('/') %>
<% path2 = [root_path.split("/"), posts_path.split('/'), users_path.split("/")] %>

<header class="row">
	<nav class="navbar">
		<div class="flex menu outer-shadow">
			<a href="<%= root_path %>" class="flex-col <% if path[1] == path2[0][0] %><%= "active" %><% end %>">conected</a>
			<a href="<%= posts_path %>" class="flex-col <% if path[1] == path2[1][1] %><%= "active" %><% end %>">blog</a>
			<a href="<%= users_path %>" class="flex-col <% if path[1] == path2[2][1] %><%= "active" %><% end %>">usuarios</a>

			<% if current_user %>
				<a href="<%= edit_user_registration_path %>" class="flex-col" style="display: flex; align-items: center;justify-content: center;"><%= image_tag(current_user.avatar.url(:thumb), class: 'img-circle', :style => "max-width:50px;") %>
					<span> <%= current_user.full_name %> </span>
					
				</a>
				<a href="<%= logout_path %>" class="flex-col">Salir</a>
			<% else %>
				<a href="<%= new_user_session_path %>" class="flex-col">Entrar</a>
			<% end %>
		</div>
	</nav>
</header>