<%= render 'shared/search' %>

<section>
<h1 class="site-title">Blog posts</h1>

<span style="font-size: 1.5em; display:block;position: relative;width: 100%;min-height: 25px;"><%= link_to 'Nuevo post', new_post_path, class: 'pull-right' %></span>

<% @posts.each do |p| %>
	<article class="container-circle inner-shadow">
		<div class="circle-top">
			<div class="circle-off-top">
				<a href="" class="svg-content">
					<span>
						<svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 24 24"><path d="M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2zm0 15l-5-2.18L7 18V5h10v13z"/></svg>
					</span>
				</a>
			</div>
		</div>

		<div class="post-meta">
			<span>
				<time datetime="<%= p.created_at %>"><%= p.created_at.strftime("%B %d, %Y") %></time>
				by <strong><a href="<%= "#{users_path}/#{p.user.id} " %>"><%= p.user.fullname %></a></strong>
			</span>
		</div>

		<h2 class="post-title"><%= p.title %></h2>
		<p><%= p.body %></p>

		<div class="circle-bottom">
			<a href=""><%= link_to '➜', post_path(p.id) %></a>
			<div class="circle-off-bot"></div>
		</div>
	</article>
<%end%>

</section>