<!DOCTYPE html>
<html>
  <head>
    <title>Brxyxmp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<main class="container">
  		<header class="row">
  			<%= render 'shared/header'%>
  		</header>
      <div class="alerts">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <%= value %>
          </div>
        <% end %>
      </div>
  		<div class="row">
	    	<%= yield %>
  		</div>
    	<footer class="row">
    		<%= render "shared/footer" %>
    	</footer>
    </main>
  </body>
</html>
