<!DOCTYPE html>
<html>
  <head>
    <title>Brxyxmp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
  	<main class="container">
  		<header class="row">
  			<%= render 'shared/header'%>
  		</header>

      <div id="alerts" class="popup-box">
        <%= render "shared/flashes" %>
      </div>

  		<div class="row">
	    	<%= yield %>
  		</div>
      
    	<footer class="row">
    		<%= render "shared/footer" %>
    	</footer>
    </main>


    <script>
      $(document).ready(function(){
        //    Working
        //-Close alerts box
        $("#close").click(function(){
          $("#alerts").fadeOut("slow");
        });
        //    End Working

        //    No Working
        function showAlerts() {
          var popup = $('#alerts');
          popup.addClass("show");
        }
        $('#xd').fadeOut(3000);
        function popup(){
          if($.trim($('#alerts')).text != ""){
            //code
          }
        }
        //    End No Working
      });
    </script>
  </body>
</html>
